.plugManager {
	display: none;
	position: absolute;
	z-index: 200;
	height: 100%;
	width: 190px;
	overflow: hidden;
	background-color: #545c64;
	background-color: rgba(0, 0, 0, 0.3);
	overflow-y: auto; 
}
.plug_box {
	height: 100%;
	background-color: #545c64;
	background-color: rgba(0, 0, 0, 0);
}
.plug_button .iconfont{
	float: left;
	width: 55px;
	text-indent: 21px;
}
.plug_button .plug_name{
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 110px;
	text-indent: 5px;
}
.plug_button .el-icon{
	float: left;
	width: 25px;
	height: 60px;
	line-height: 60px;
}