#warnningBox{
  background: rgba(255, 255, 255, 0.9);
  height: 584px;
  position: absolute;
  width: 300px;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  border: 0;
  display: none;
  overflow: visible;
}
#warnningBox .tabBtn{
  background: #ffffff;
  width: 40px;
  margin-left: -40px;
}
#warnningBox .tabBtn ul li{
  line-height: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  color: #409EFF;
}
#warnningBox .tabBtn ul li.active,#warnningBox .tabBtn ul li:hover{
  background: #409EFF;
  color: #ffffff
}
#warnningBox .el-card__header {
  padding: 10px 20px;
}
#warnningBox .clearfix {
  text-align: center;
}
#warnningBox .clearfix>span{
  margin: 0 auto;
  font-size: 15px;
  color: #409EFF;
}

#warnningBox .el-card__body {
  padding: 0;
  height: calc(100%);
}
#warnningBox .el-card__body .el-tabs {
  height: 100%;
  margin-top: -80px;
}
#warnningBox .el-card__body .el-tabs .el-tabs__header {
  margin: 0;
}
#warnningBox .el-card__body .el-tabs .el-tabs__header .el-tabs__nav{
  display: none;
}
#warnningBox .el-card__body .el-tabs .el-tabs__content {
  height: calc(100% - 41px);
  overflow-y: auto;
}
#warnningBox div.infoContent ul.list li {
  height: 70px;
  display: flex;
  background:rgba(222, 222, 222,0.5);
  cursor: pointer;
  margin-bottom: 1px;
  color: #409EFF;
}
#warnningBox div.infoContent ul.list li:hover {
  background:rgba(222, 222, 222,0.9);
}
#warnningBox div.infoContent ul.list li>div{
  width: 230px;
  line-height: 20px;
  padding-left: 5px;
}


#infoBox{
  /* position: relative; */
  position: absolute;
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.9);
  color: #409EFF;
  margin: 0 auto;
  /* top: 10%; */
  display: none;
  z-index: 10;
  bottom: 20px;
  left: 190px;
}

#infoBox .el-card__header {
  padding: 10px 20px;
}
#infoBox .clearfix {
  text-align: center;
}
#infoBox .clearfix>span{
  margin: 0 auto;
  font-size: 15px;
  color: #409EFF;
  display: inline-block;
}
#infoBox .el-card__body {
  padding: 0;
  padding-top: 10px;
  height: calc(100% - 23px);
}
#infoBox .el-card__body .content span.el-tag{
  width: 60px;
  margin: 1px;
  margin-right: 10px;
}
/* 
#infoBox{
  position: relative;
  width: 500px;
  height: 400px;
  background: #0d3652;
  color: #347fad;
  margin: 0 auto;
  top: 10%;
  display: none;
  z-index: 10;
}

#infoBox>h3.head{
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 800;
}
#infoBox>h3.head>span{
  position: absolute;
  right: 10px;
  cursor: pointer;
}
#infoBox div.content {
  height: calc(100% - 30px);
}

#infoBox div.content>div>div>span{
  display: inline-block;
  line-height: 20px;
  border: 1px solid #106de0;
  width: 85px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 2px;
  margin-right: 8px;
} */

/*滚动条样式*/
/* ::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece
{
  background-color: #CCCCCC;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
  height: 5px;
  background-color: #999999;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
  width: 5px;
  background-color: #CCCCCC;
  -webkit-border-radius: 6px;
} */

/* 制高点 start */
.poi_commanding{
  background:url(../image/DefaultIcon.png); 
  background-position:center left; 
  background-repeat: no-repeat;
  height:16px;
  width:16px;
  line-height:10px;
  cursor: pointer;
}
.poi_commanding .commanding_pop {
  margin-left:16px; 
  font-size:9px; 
  white-space: nowrap;
  width:280px;
  background: #fff;
  color: #000; 
  border-radius: 3px;
  /* transform: translate(-116px,-140px); */
  transform: translate(-144px,-140px);
  display: none;
}

.poi_commanding .commanding_pop:after{
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 45%;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-top-color: #fff;
}

.poi_commanding .commanding_pop h3 {
  height:30px;
  line-height:30px;
  background: #409EFF;
  padding-left: 10px;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.poi_commanding .commanding_pop h3 span.closePop{
  position: absolute;
  right: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor:pointer;
}

.poi_commanding .commanding_pop ul{
  min-height: 100px;
}

.poi_commanding .commanding_pop ul li{
  height:20px;
  line-height:20px;
  padding: 5px;
}
/* 制高点 end */

/* 封控点 start */
.poi_blockade{
  background:url(../image/DefaultIcon.png); 
  background-position:center left; 
  background-repeat: no-repeat;
  height:16px;
  width:16px;
  line-height:10px;
  cursor: pointer;
}
.poi_blockade .blockade_pop {
  margin-left:16px; 
  font-size:9px; 
  white-space: nowrap;
  width:280px;
  background: #fff;
  color: #000; 
  border-radius: 3px;
  /* transform: translate(-116px,-140px); */
  transform: translate(-144px,-140px);
  display: none;
}
.poi_blockade .blockade_pop:after{
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 45%;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-top-color: #fff;
}

.poi_blockade .blockade_pop h3 {
  height:30px;
  line-height:30px;
  background: #409EFF;
  padding-left: 10px;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;width: 280px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

.poi_blockade .blockade_pop h3 span.closePop{
  position: absolute;
  right: 16px;
  cursor:pointer;
}

.poi_blockade .blockade_pop ul{
  min-height: 100px;
}

.poi_blockade .blockade_pop ul li{
  height:20px;
  line-height:20px;
  padding: 5px;
  width: 280px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
/* 封控点 end */